<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        LATEST NEWS AND INSIGHTS
      </div>
      <div class="description">
        Jardine Insurance Brokers was formed by Jardine Matheson many years ago and subsequently became a listed company in which Jardine Matheson retained a majority interest. JLT was created in 1997 when Jardine Insurance Brokers plc merged with Lloyd Thompson Group plc. As a consequence of that transaction, Jardine Matheson retained a shareholding of 30% in the merged business. In 2011 Jardine Matheson increased its shareholding in JLT from 30% to 40%.
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://google.com" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="https://twitter.com" target="_blank">
      <i class="ion-social-twitter"></i>
    </a>
    <a href="https://facebook.com" target="_blank">
      <i class="ion-social-facebook"></i>
    </a>
    <a href="https://linkedin.com" target="_blank">
      <i class="ion-social-linkedin"></i>
    </a>
  </nb-card-footer>
</nb-card>
